{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input name="username" placeholder="Username" autocomplete="off" autofocus class="form-control mx-auto w-auto">
        </div>
        <div class="mb-3">
            <input type="password" placeholder="Password" name="password" class="form-control mx-auto w-auto">
        </div>
        <div class="mb-3">
            <input type="password" placeholder="Password (again)" name="confirmation" class="form-control mx-auto w-auto">
        </div>
        <button class="btn btn-primary my-auto" type="submit">Register</button>
    </form>
{% endblock %}
